<body>
	<div class="header">
		<div class="form-group">
			<h3>MENTOR APPLICATION FORM</h3>
			<span class="required">*Required</span>
		</div>
	</div>


	<!--<form [formGroup]="myForm">
		<div class="main">
		<div class="form-group">
			<span class="header"><label class="intro">Few more questions and we're done</label></span>
			<label>have you ever been implecated in any criminal offense or faced any criminal charges? <span class="required">*</span></label>			
			<label><input type="radio" formControlName="criminalRec" ([ngModel])="backgrnd.criminalRec" name="criminalRec" value="yes" class="control-form">Yes</label>
			<label><input type="radio" formControlName="criminalRec" ([ngModel])="backgrnd.criminalRec" name="criminalRec" value="no" class="control-form">No</label>		
		</div>

		<div class="form-group">
			<label>have you mentor anyone before? <span class="required">*</span></label>			
			<label><input type="radio" formControlName="mentor" ([ngModel])="backgrnd.mentor" name="mentor" value="yes" class="control-form">Yes</label>
			<label><input type="radio" formControlName="mentor" ([ngModel])="backgrnd.mentor" name="mentor" value="no" class="control-form">No</label>
		</div>

		<div class="form-group">
			<label>have you worked with pupils before? <span class="required">*</span></label>			
			<label><input type="radio" name="workPupil" value="yes" class="control-form">Yes</label>
			<label><input type="radio" name="workPupil" value="no" class="control-form">No</label>
		</div>

		<div class="form-group">
			<label>how confident are you in your mentorship skills? <span class="required">*</span></label>
			<label class="rateMess"><b>Not so confident</b></label>
			<div class="mentorRate">
				<div class="skill">
					<label class="rateNo">1</label>
					<input type="radio" name="mentorSkills">
				</div>	
				<div class="skill">
					<label class="rateNo">2</label>
					<input type="radio" name="mentorSkills">
				</div>
				<div class="skill">
					<label class="rateNo">3</label>
					<input type="radio" name="mentorSkills">
				</div>
				<div class="skill">
					<label class="rateNo">4</label>
					<input type="radio" name="mentorSkills">
				</div>
				<div class="skill">
					<label class="rateNo">5</label>
					<input type="radio" name="mentorSkills">
				</div>
			</div>
			<label class="rateMess"><b>Very confident</b></label>
			
		</div>

		<div class="form-group">
			<label>Lasty, please, tell us why you are interested in mentoring pupils. <span class="required">*</span></label>
			<input type="text" name="mentoringReason" class="control-form" placeholder="Your answer">
		</div>

		<div class="footer">
			
			<div class="form-progress">
				<progress value="75" max="100" >75% </progress>
				<label class="pages">Page 3 of 4</label>
			</div>

			<div class="form-button">
				<button class="back-btn" (click)="education()">Back</button>							
				<button class="form-btn" (click)="finalPage()">Next</button>
			</div>
		</div>

	</div>
	</form>-->

	<form>
		<div class="main">
		<div class="form-group" [class.has-error]="criminalRec.invalid && criminalRec.touched">
			<span class="header"><label class="intro">Few more questions and we're done</label></span>
			<label>have you ever been implicated in any criminal offense or faced any criminal charges? 
			<span class="required">*</span></label>			
			<div class="myRadio">
				<label><input type="radio" [(ngModel)]="backgrnd.criminalRec" name="backgrnd.criminalRec" 
				value="yes" class="control-form" required #criminalRec="ngModel"><span>Yes</span></label>
				<label><input type="radio" [(ngModel)]="backgrnd.criminalRec" name="backgrnd.criminalRec" 
				value="no" class="control-form" required #criminalRec="ngModel"><span>No</span></label>
			</div>
			<span class="help-block" *ngIf="criminalRec.invalid && criminalRec.touched" >
				This field is required
			</span>
		</div>

		<div class="form-group" [class.has-error]="mentor.invalid && mentor.touched">
			<label>have you mentored anyone before? <span class="required">*</span></label>
			<div class="myRadio">
				<label><input type="radio" [(ngModel)]="backgrnd.mentor" name="backgrnd.mentor" value="yes" 
				class="control-form" required #mentor="ngModel"><span>Yes</span></label>
				<label><input type="radio" [(ngModel)]="backgrnd.mentor" name="backgrnd.mentor" value="no" 
				class="control-form" required #mentor="ngModel"><span>No</span></label>
			</div>		
			<span class="help-block" *ngIf="mentor.invalid && mentor.touched" >
				This field is required
			</span>		
			
		</div>

		<div class="form-group" [class.has-error]="workPupil.invalid && workPupil.touched">
			<label>have you worked with pupils before? <span class="required">*</span></label>						
			<div class="myRadio">
				<label><input type="radio" [(ngModel)]="backgrnd.workPupil" name="backgrnd.workPupil" value="yes" 
				class="control-form" required #workPupil="ngModel"><span>Yes</span></label>
				<label><input type="radio" [(ngModel)]="backgrnd.workPupil" name="backgrnd.workPupil" value="no" 
				class="control-form" required #workPupil="ngModel"><span>No</span></label>
			</div>
			<span class="help-block" *ngIf="workPupil.invalid && workPupil.touched" >
				This field is required
			</span>	
			
		</div>

		<div class="form-group" [class.has-error]="mentorSkills.invalid && mentorSkills.touched">
			<label>how confident are you in your mentorship skills? <span class="required">*</span></label>
			<label class="rateMess"><b>Not so confident</b></label>
			<div class="mentorRate">
				<div class="skill">
					<label class="rateNo"><span>1</span></label>
					<input type="radio" [(ngModel)]="backgrnd.mentorSkills" name="backgrnd.mentorSkills" 
					value="1" required #mentorSkills="ngModel">
				</div>	
				<div class="skill">
					<label class="rateNo"><span>2</span></label>
					<input type="radio" [(ngModel)]="backgrnd.mentorSkills" name="backgrnd.mentorSkills" 
					value="2" required #mentorSkills="ngModel">
				</div>
				<div class="skill">
					<label class="rateNo"><span>3</span></label>
					<input type="radio" [(ngModel)]="backgrnd.mentorSkills" name="backgrnd.mentorSkills" 
					value="3" required #mentorSkills="ngModel">
				</div>
				<div class="skill">
					<label class="rateNo"><span>4</span></label>
					<input type="radio" [(ngModel)]="backgrnd.mentorSkills" name="backgrnd.mentorSkills" 
					value="4" required #mentorSkills="ngModel">
				</div>
				<div class="skill">
					<label class="rateNo"><span>5</span></label>
					<input type="radio" [(ngModel)]="backgrnd.mentorSkills" name="backgrnd.mentorSkills" 
					value="5" required #mentorSkills="ngModel">
				</div>
			</div>
			<label class="rateMess"><b>Very confident</b></label>
			<span class="help-block" *ngIf="mentorSkills.invalid && mentorSkills.touched" >
				Mentorship skill is required
			</span>	
			
		</div>

		<div class="form-group" [class.has-error]="menteeNo.invalid && menteeNo.touched">
			<label>how many mentee(s) are you willing to take? <span class="required">*</span></label>
				<div class="skill">
					<label class="rateNo"><span>1</span></label>
					<input type="radio" [(ngModel)]="backgrnd.menteeNo" name="backgrnd.menteeNo" value="1"
					required #menteeNo="ngModel">
				</div>	
				<div class="skill">
					<label class="rateNo"><span>2</span></label>
					<input type="radio" [(ngModel)]="backgrnd.menteeNo" name="backgrnd.menteeNo" value="2"
					required #menteeNo="ngModel">
				</div>
				<div class="skill">
					<label class="rateNo"><span>3</span></label>
				<input type="radio" [(ngModel)]="backgrnd.menteeNo" name="backgrnd.menteeNo" value="3"
				required #menteeNo="ngModel">
			</div>
			<span class="help-block" *ngIf="menteeNo.invalid && menteeNo.touched" >
				Number of mentee(s) is/are required
			</span>
		</div>

		<div class="form-group" [class.has-error]="mentoringReason.invalid && mentoringReason.touched">
			<label for="mentoringReason"class="control-label">Lasty, please, tell us why you are interested in mentoring pupils. <span class="required">*</span></label>
			<input type="text" id="mentoringReason" [(ngModel)]="backgrnd.mentoringReason" name="backgrnd.mentoringReason" 
			class="control-form" placeholder="Your answer" required #mentoringReason="ngModel">
			<span class="help-block" *ngIf="mentoringReason.invalid && mentoringReason.touched" >
				Reason is required
			</span>
		</div>

		<div class="footer">
			
			<div class="form-progress">
				<progress value="75" max="100" >75% </progress>
				<label class="pages">Page 3 of 4</label>
			</div>
			<span class="errMessage">
				{{errMessage}}
			</span>

			<div class="form-button">
				<button class="back-btn" (click)="education()">Back</button>							
				<button class="form-btn" (click)="finalPage()">Next</button>
			</div>
		</div>

	</div>
	</form>

	 <div class="footer">
        
		<p>&copy; Edulight 2021</p>
	</div>
</body>