body{
    margin: 15px;
}

.required{
    margin-top: 5px;
    color: red;
}

.header .form-group h3{
    font-size: 1.5em;
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 25px;
}

.main .form-group .header{
    height: 50px;
    background-color: green;
}

.header span{
    margin-left: 2px;
}

h3,p,label,input{
    margin-left: 2px;
}

.main{
    margin-top: 10px;
}

input{
    border-top: hidden;
    border-left: hidden;
    border-radius: hidden;
    border-bottom: groove;
}

input:focus{
    outline: none
}

.main input{
    margin-top: 10px;
}

.footer{
    margin-top: 15px;
}

progress[value]{
    width: 250px;
    height: 20px;
}

.header .form-group {
    border: 1px solid grey;
    border-top: 8px solid green;
    border-radius: 5px;
}

.footer .form-btn{
    width: 80px;
    height: 30px;
    color: white;
    background-color: green;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 5px;
}

.back-btn{
    width: 80px;
    height: 30px;
    color: green;
    font-weight: 500;
    margin-top: 15px;
    border-radius: 5px;
}

.help-block{
    color: red;
    margin-left: 15px;
}

.myRadio{
    display: flex;
    flex-direction: column;
}


.ng-valid[required], .ng-valid.required{
    border-bottom: green 2px solid;
}

.errMessage{
    color: red;
    font-size: 1.2em;
}

.myRadio span{
    margin-left: 10px;
}