<body>
	<div class="header">
		<div class="form-group">
			<h3>MENTEE SIGN-UP FORM</h3>
			<span class="required">*Required</span>
		</div>
	</div>

	<div class="main">
		<div class="form-group">
			<span class="header"><label class="intro">Academic and professional background</label></span>
			<label for="persType"class="control-label">Personality type (the results from the personality test you took before hand) 
			<span class="required">*</span></label>			
			<input type="text" id="persType" name="" 
			class="control-form" placeholder="Your answer" required>
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

        <div class="form-group" >
			<label>Grade <span class="required">*</span></label>
			<div class="myRadio">
				<label><input type="radio" name="grade" 
				value="10" class="control-form" required ><span>10</span></label>
				<label><input type="radio" name="grade" 
				value="11" class="control-form" required ><span>11</span></label>
			</div>
        </div>

        <div class="form-group" >
			<label>Core subjects (check all that is applicable to you and type other not listed) <span class="required">*</span></label>
			<div class="myRadio" *ngFor="let sub of subject">
				<label><input type="checkbox" name="grade"  [value]="sub.subjName" 
				 class="control-form" required ><span>{{sub.subjName}}</span></label>
			</div>
			<!--<span class="help-block" *ngIf="organization.invalid && organization.touched" >
				This field is required
			</span>-->
			
		</div>

		<div class="form-group">
			<label for="otherSubj"class="control-label">Other subjects not listed</label>			
			<input type="text" id="otherSubj" name="otherSubj" 
			class="control-form" placeholder="Your answer" required> 
            <button class="addSubject">Add</button>
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

		<div class="form-group">
			<label for=""class="control-label">Desire tertiary qualification/Study fieild
            <span class="required">*</span></label>			
			<input type="text" id="otherSubj" name="otherSubj" 
			class="control-form" placeholder="Your answer" required>
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

		<div class="form-group">
			<label for=""class="control-label">2nd desire tertiary qualification/Study fieild</label>			
			<input type="text" id="otherSubj" name="otherSubj" 
			class="control-form" placeholder="Your answer" required>
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

        <div class="form-group">
			<label for=""class="control-label">Desire Institution <span class="required">*</span></label>			
			<input type="text" id="otherSubj" name="otherSubj" 
			class="control-form" placeholder="Your answer" required>
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

        <div class="form-group">
			<label for=""class="control-label">2nd desire Institution</label>			
			<input type="text" id="otherSubj" name="otherSubj" 
			class="control-form" placeholder="Your answer" required>
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

        <div class="form-group">
			<label for=""class="control-label">Please desclose any academic awards or special achievement</label>			
			<input type="text" id="otherSubj" name="otherSubj" 
			class="control-form" placeholder="Your answer" required>
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

		<!--<div class="form-group" [class.has-error]="qualification.invalid && qualification.touched">
			<label for="qualification"class="control-label">Tertiary qualification/Study field <span class="required">*</span></label>
			<input type="text" id="qualification" [(ngModel)]="mentorEducation.qualification" name="mentorEducation.qualification"
			 class="control-form" placeholder="Your answer" required #qualification="ngModel">
			 <span class="help-block" *ngIf="qualification.invalid && qualification.touched" >
				Tertiary qualification/Study field is required
			</span>
		</div>-->
    </div>

    <div class="footer">
			
			<div class="form-progress">
				<progress value="50" max="100" >50% </progress>
				<label class="pages">Page 2 of 4</label>
			</div>
			<!--<span class="errMessage">
				{{errMessage}}
			</span>-->

			<div class="form-button">
				<button class="back-btn" >Back</button>				
				<button class="form-btn" >Next</button>
			</div>

        <div class="ending">
		    <p>&copy; Edulight 2021</p>
        </div>

	</div>

</body>