<body>
	<div class="header">
		<div class="form-group">
			<h3>MENTEE SIGN-UP FORM</h3>
			<span class="required">*Required</span>
		</div>
	</div>
	
	<div class="main">
		<div class="form-group">
			<span class="header"><label class="intro">Academic background</label></span>
			<p>current studies and what you wish to study after high/secondary school</p>
		</div>

        <fieldset>
			<legend>High/Secondary School</legend>
			<div class="form-group" >
				<label>Grade <span class="required">*</span></label>
				<div class="myRadio">
					<label><input type="radio" required name="school.grade" [(ngModel)]="school.grade" 
					value="10" class="control-form" ><span>Grade 10</span></label>
					<label><input type="radio" required name="school.grade" [(ngModel)]="school.grade" 
					value="11" class="control-form" ><span>Grade 11</span></label>
				</div>
			</div>

			<div class="form-group" >
				<label>Core subjects (check all that is applicable to you and type other not listed) <span class="required">*</span></label>
				<div class="myRadio" *ngFor="let sub of subject" >
					<label><input type="checkbox" id="sub.subjNam" name="{{sub.subjNam}}" [value]="sub.subjName"
					class="control-form" (change)="selectSubject()" [(ngModel)]="sub.isChecked">{{sub.subjName}}</label>
				</div>
				<!--<span class="help-block" *ngIf="organization.invalid && organization.touched" >
					This field is required
				</span>-->
				
			</div>
			
				<div class="form-group">
					<label for="otherSubj"class="control-label">Other subjects not listed</label>			
					<div class="otherSubj">
						<input type="text" id="otherSubj" name="otherSubj" [(ngModel)]="otherSubj"  
						placeholder="Your answer" required class="form-control"> 
						<button class="addSubject" (click)="addSubject()">Add</button>
					</div>
					<span class="strAdded">
						{{strAdded}}
					</span>
			</div>
		</fieldset>

		<fieldset>
			<legend>Tertiary Institution</legend>
			<div class="form-group">
				<label for="fir_Course_Name"class="control-label">Desire tertiary qualification/Study fieild
				<span class="required">*</span></label>			
				<input type="text" id="fir_Course_Name" name="fir_Course_Name" [(ngModel)]="fir_Course_Name"
				placeholder="Your answer" required class="form-control">
				<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
					Personality type is required
				</span>-->
			</div>

			<div class="form-group">
				<label for="sec_Course_Name"class="control-label">2nd desire tertiary qualification/Study fieild</label>			
				<input type="text" id="sec_Course_Name" name="sec_Course_Name" [(ngModel)]="sec_Course_Name"
				placeholder="Your answer" required class="form-control">
				<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
					Personality type is required
				</span>-->
			</div>

			<div class="form-group">
				<label for="fir_Tert_Name"class="control-label">Desire Institution <span class="required">*</span></label>			
				<input type="text"  id="fir_Tert_Name" name="fir_Tert_Name" [(ngModel)]="fir_Tert_Name" 
				placeholder="Your answer" required class="form-control">
				<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
					Personality type is required
				</span>-->
			</div>

			<div class="form-group">
				<label for="sec_Tert_Name"class="control-label">2nd desire Institution</label>			
				<input type="text" id="sec_Tert_Name" name="sec_Tert_Name" [(ngModel)]="sec_Tert_Name" 
				placeholder="Your answer" required class="form-control">
				<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
					Personality type is required
				</span>-->
			</div>
		</fieldset>
		

        <div class="form-group">
			<label for="award"class="control-label">Please desclose any academic awards or special achievement</label>			
			<input type="text" id="award" name="school.award" [(ngModel)]="school.award"
			class="control-form" placeholder="Your answer" required class="form-control">
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
		</div>

		<!--<div class="form-group" [class.has-error]="qualification.invalid && qualification.touched">
			<label for="qualification"class="control-label">Tertiary qualification/Study field <span class="required">*</span></label>
			<input type="text" id="qualification" [(ngModel)]="mentorEducation.qualification" name="mentorEducation.qualification"
			 class="control-form" placeholder="Your answer" required #qualification="ngModel">
			 <span class="help-block" *ngIf="qualification.invalid && qualification.touched" >
				Tertiary qualification/Study field is required
			</span>
		</div>-->
    </div>

    <div class="footer">
			
			<div class="form-progress">
				<progress value="50" max="100" >50% </progress>
				<label class="pages">Page 2 of 4</label>
			</div>
			<span class="errMessage">
				{{errMessage}}
			</span>

			<div class="form-button">
				<button class="back-btn" (click)="personalInfo()">Back</button>				
				<button class="form-btn" (click)="emergencyContact()">Next</button>
			</div>

        <div class="ending">
		    <p>&copy; Edulight 2021</p>
        </div>

	</div>

</body>