<body>
	<div class="header">
		<div class="form-group">
			<h3>MENTEE SIGN-UP FORM</h3>
		</div>
	</div>
	<form>
		<div class="main">
		<div class="form-group">
			<span class="header"><label class="intro">Thank You!</label></span>
			<p>Thank you for taking your time to complete this form. We commend you for taking such a massive step towards your growth and development.</p>
			<p>We hope you are just excited as we are about this, and cannot wait to start with your journey to success. In the meantime, please follow us on our social media pages.</p>
		
		</div>

		<div class="form-group">
			<img src="assets/0001-2566157940_20210608_180012_0000.png">
			
		</div>

	</div>
	</form>

	 <div class="footer">
     		<div class="footer">
			
			<div class="form-progress">
				<progress value="100" max="100" >100% </progress>
				<label class="pages">Page 4 of 4</label>
			</div>

			<div class="form-button">
				<button class="back-btn" (click)="emergency()">Back</button>
				<button class="form-btn" (click)="successfully()">Submit</button>
			</div>
		</div>
        
		<p>&copy; Edulight 2021</p>
	</div>
</body>