<body>
	<div class="header">
		<div class="form-group">
			<h3>MENTOR APPLICATION FORM</h3>
		</div>
	</div>

	<form>
		<div class="main">
		<div class="form-group">
			<span class="header"><label class="intro">Thank You!</label></span>
			<p>Thanks you for taking your time to complete this application. We commend you for your keen interest in joining us on our mession to help young people in underserved communities thrive.</p>
			<p>Your application will be reviewed and you shall receive a response on its results. In the meantime, please follow us on our social media pages.</p>
		
		</div>

		<div class="form-group">
			<img src="../../../assets/0001-2566157940_20210608_180012_0000.png">
			
		</div>

		<div class="footer">
			
			<div class="form-progress">
				<progress value="100" max="100" >100% </progress>
				<label class="pages">Page 4 of 4</label>
			</div>

			<div class="form-button">
				<button class="back-btn" (click)="background()">Back</button>
				<button class="form-btn" (click)="successfully()">Submit</button>
			</div>
		</div>

	</div>
	</form>

	 <div class="footer">
        
		<p>&copy; Edulight 2021</p>
	</div>
</body>