<body>
	<div class="header">
		<div class="form-group">
			<h3>MENTEE SIGN-UP FORM</h3>
			<span class="required">*Required</span>
		</div>
	</div>

	<div class="main">
		<div class="form-group" id="head">
			<span class="header"><label class="intro">Emergency Contact Person</label></span>
            <p>Please give us details of the person we can reach out to in case of emergency</p>
		</div>

        <div class="form-group">
            <label for="kinFullName"class="control-label">Name and Surname <span class="required">*</span></label>			
            <input type="text" id="kinFullName" name="otherSubj" placeholder="Your answer" required
            class="control-form" name="nextOfKin.kinFullName" [(ngModel)]="nextOfKin.kinFullName">
            <!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
                Personality type is required
            </span>-->
        </div>

        <!--<div class="form-group" >
            <label>Relationship to you? <span class="required">*</span></label>
            <div class="myRadio" *ngFor="let relation of relationship">
                <label><input type="radio" [value]="relation.name" required class="control-form"
                 name="nextOfKin.kinRelationType" [(ngModel)]="nextOfKin.kinRelationType" ><span>{{relation.name}}</span></label>
            </div>
            !--<span class="help-block" *ngIf="organization.invalid && organization.touched" >
                This field is required
            </span>-
            
        </div>-->

        <div class="form-group">
            <fieldset class="address">
                <legend>Physical Address</legend>
                <div class="form-group">
                    <label  for="kinHouseNo"class="control-label">House Number and Street Name <span class="required">*</span></label>
                    <input type="text" id="kinHouseNo" required class="form-control" 
                    name="nextOfKin.kinHouseNo" [(ngModel)]="nextOfKin.kinHouseNo"/>
                </div>

                <div class="form-group">
                    <label  for="kinProvince"class="control-label">Province <span class="required">*</span></label>                
                    <input type="text" id="kinProvince" required class="form-control" 
                    name="nextOfKin.kinProvince" [(ngModel)]="nextOfKin.kinProvince"/>
                </div>

                <div class="form-group">
                    <label  for="kinCity"class="control-label">City <span class="required">*</span></label>
                    <input type="text" id="kinCity" required  class="form-control" name="nextOfKin.kinCity" [(ngModel)]="nextOfKin.kinCity"/>
                </div>

                <div class="form-group">
                    <label for="kinTown"class="control-label">Town <span class="required">*</span></label>
                    <div class="town">
                        <input type="text" id="kinTown" required class="form-control" name="nextOfKin.kinTown" [(ngModel)]="nextOfKin.kinTown"/>            
                        <label  for="kinCode" required class="control-label code">Postal Code <span class="required">*</span>
                        <input type="tel"  class="form-control" name="nextOfKin.kinCode" [(ngModel)]="nextOfKin.kinCode"/></label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <label for="kinPhoneNo">Phone Number <span class="required">*</span></label>
            <input type="tel" id="kinPhoneNo" placeholder="Phone Number" required  class="form-control"
            name="nextOfKin.kinPhoneNo" [(ngModel)]="nextOfKin.kinPhoneNo"/>
        </div>

    </div>

    <div class="footer">
        
        <div class="form-progress">
            <progress value="75" max="100" >75% </progress>
            <label class="pages">Page 3 of 4</label>
        </div>
        <!--<span class="errMessage">
            {{errMessage}}
        </span>-->

        <div class="form-button">
            <button class="back-btn" (click)="schoolInfo()">Back</button>				
            <button class="form-btn" (click)="submitInfo()">Next</button>
        </div>

        <div class="ending">
		    <p>&copy; Edulight 2021</p>
        </div>
    </div>


</body>