<body>
    <div class="header">
		<div class="form-group">
			<h3>MENTEE SIGN-UP FORM</h3>
			<p>Thank you! For trusting us with your growth. We hope you find your journey as a mentee here 
            at Edulight Academia fruitful beyond your expectations.<p>
            <span class="required">*Required</span>
		</div>
	</div> 
    <flash-messages>
	</flash-messages>

    <div class="section">
        <div class="form-group">
            <label for="stud_id"class="control-label">ID Number <span class="required">*</span></label>
            <input type="tel" id="stud_id" required placeholder="Identification Number" class="form-control" 
            name="mentee.stud_id" [(ngModel)]="mentee.stud_id" />
            <span class="existingStud">
                {{existingStud}}
            </span>
        </div>
        <div class="form-group">
            <label for="surname"class="control-label">Last Name <span class="required">*</span></label>
            <input type="text" id="surname" required placeholder="Surname"  class="form-control" 
            name="mentee.surname" [(ngModel)]="mentee.surname"/>
        </div>
        <div class="form-group">
            <label for="names"class="control-label">First Name <span class="required">*</span></label>
            <input type="text" id="names" required placeholder="Names"  class="form-control" 
            name="mentee.names" [(ngModel)]="mentee.names"/>
        </div>
        <div class="form-group">
            <label for="dob"class="control-label">Date of Birth <span class="required">*</span></label>
            <input type="date" id="dob" required placeholder="Date of Birth"  class="form-control" 
            name="mentee.dob" [(ngModel)]="mentee.dob" (change)="validateDOBId()"/>

            <span class="incorrectDob">
                {{incorrectDob}}
            </span>
        </div>
        <div class="form-group">
            <label>Gender <span class="required">*</span></label>
            <div class="myRadio">
                <label><input type="radio" required value="Female" class="control-form" 
                name="mentee.gender"  required [(ngModel)]="mentee.gender"> <span>Female</span></label>
                <label><input type="radio" required value="Male" class="control-form" required 
                name="mentee.gender" [(ngModel)]="mentee.gender"> <span>Male</span></label>
                <label><input type="radio" required value="Other" class="control-form" required 
                name="mentee.gender" [(ngModel)]="mentee.gender"> <span>Other</span></label> 
            </div> 
        </div>

        <div class="form-group">
            <label for="phone_Number"class="control-label">Phone Number <span class="required">*</span></label>
            <input type="tel" id="phone_Number" required placeholder="Phone Number"  class="form-control" 
            name="mentee.phone_Number" [(ngModel)]="mentee.phone_Number"/>
        </div>

        <div class="form-group">
            <label for="alt_Phone_Number"class="control-label">Alternative Number</label>
            <input type="tel" id="alt_Phone_Number" placeholder="Phone Number"  class="form-control" 
            name="mentee.alt_Phone_Number" [(ngModel)]="mentee.alt_Phone_Number">
        </div>

        <div class="form-group" class="form-group" [class.has-error]="email.invalid && email.touched">
            <label for="email"class="control-label">Email Address <span class="required">*</span></label>
            <input type="text" id="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
             #email="ngModel" placeholder="Email Address"  class="form-control" name="mentee.email" [(ngModel)]="mentee.email"/>
            <span class="help-block" *ngIf="email.errors?.required && email.touched">
				Email Address is required
			</span>
            <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
				Email Address is invalid
			</span>
        </div>
        
        
        <div class="form-group">
            <fieldset class="address">
                <legend>Physical Address</legend>
                <div class="form-group">
                    <label  for="streetNo"class="control-label">House Number and Street Name <span class="required">*</span></label>
                    <input type="text" id="streetNo" required class="form-control" name="mentee.streetNo"
                    [(ngModel)]="mentee.streetNo"/>
                </div>

                <div class="form-group">
                    <label  for="province"class="control-label">Province <span class="required">*</span></label>                
                    <input type="text" id="province" required class="form-control" name="mentee.province" 
                    [(ngModel)]="mentee.province"/>
                </div>

                <div class="form-group">
                    <label  for="city"class="control-label">City <span class="required">*</span></label>
                    <input type="text" id="city" required  class="form-control" name="mentee.city" [(ngModel)]="mentee.city"/>
                </div>

                <div class="form-group">
                    <label for="town"class="control-label">Town <span class="required">*</span></label>
                    <div class="town">
                        <input type="text" id="town" required class="form-control" name="mentee.town" [(ngModel)]="mentee.town"/>            
                        <label  for="code" required class="control-label code">Postal Code <span class="required">*</span>
                        <input type="tel"  class="form-control" name="mentee.code" [(ngModel)]="mentee.code"/></label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <label class="control-label">Are you a person living with disability? <span class="required">*</span></label>
            <div class="myRadio">
                <label><input type="radio" required value="yes" class="control-form" name="mentee.disability" 
                [(ngModel)]="mentee.disability"> <span>Yes</span></label>
                <label><input type="radio" required value="no" class="control-form" name="mentee.disability" 
                [(ngModel)]="mentee.disability"> <span>No</span></label> 
            </div> 
        </div>

        <div class="form-group">
            <label for="disabilityDesc"class="control-label">If yes, please describe</label>			
			<input type="text" id="disabilityDesc" placeholder="Your answer" required class="form-control" name="mentee.disabilityDesc"
            [(ngModel)]="mentee.disabilityDesc">
			<span class="disDescribe">
				{{disDescribe}}
			</span>
        </div>

        <div class="form-group">
            <label for="medicalCondition"class="control-label">Any medical condition(s) we should be aware of? If yes, please
            describe. If no, you may skip</label>			
			<input type="text" id="medicalCondition" placeholder="Your answer" required class="form-control" 
            name="mentee.medicalCondition" [(ngModel)]="mentee.medicalCondition">
			<!--<span class="help-block" *ngIf="persType.invalid && persType.touched">
				Personality type is required
			</span>-->
        </div>
    </div> 

    <div class="footer">
        <div class="form-progress">
            <progress value="25" max="100" >25% </progress>
            <label class="pages">Page 1 of 4</label>
		</div>
        <span class="errMessage">
				{{errMessage}}
		</span>

        <div class="form-button">
            <button (click)="moveToSchool()" class="form-btn" >Next</button>
        </div>
        
		<div class="ending">
		    <p>&copy; Edulight 2021</p>
        </div>
	</div>
</body>