
<body>
   <div class="head-content">
		<h2>SIGN-UP AS:</h2>
		<div class="sign-up">
			<button class="control-form Student">Student</button>
			<button class="control-form Mentor">Mentor</button>
		</div>
    </div>
	<br>

	<div class="main">
		<i>

		<p>
			To sign up as a Mentee, click on the "Student" tab. To sign up as a Mentor, 
			click on the "Mentor" tab.
		</p>
		<p>
			Designed to intensify our efforts in the career development space, the Edulight 
			mentorship programme affords pupils an opportunity to tap into their powers, develop 
			themselves, and move fluidly to higher education environment.
			
		</p>
		<div class="image">
			<img  src="assets/IMG-20210803-WA0018.jpg" alt=""/>
		</div><br>
		<p>
			The aim is to mentor learners in their respective career choices by pairing them with mentors that 
			are affiliated in those specific career fields. This is to ensure that learners are groomed well in alignment
			with their career choices and are left fed with information they will
			need in future; in grasping opportunities in those career fields.
			
		</p>

		<p>We believe with the right person by his/her side, 
			a pupil will be well equipped to achieve way more than they aimed for. They will gain 
			knowledge on how to conduct themselves as students, make informed decisions towards their 
			future, and have confidence to take decisive actions that will lead them to greatness. 
			This is made possible by our network of university/college students and graduates, who take 
			on the mentor hat and commit to mentoring our pupils until they finish high school.
		</p>

		<p>
			Ours is to enable change by shaping the future of young aspiring professionals. 
			All volunteers and learners form an integral part of this mission. So go on and sign up, we need you.
		</p></i>

	</div>

	<div class="footer">

		<div class="ending">
		    <p>&copy; Edulight 2021</p>
        </div>
	</div>
</body>