
<body>
   <div class="head-content">
		<ul class="nav-head">
			<li> <a [routerLink]="['/student-personal-info']"> Student </a> </li>
			<li> <a [routerLink]="['/mentor-personal-info']">Mentor </a> </li>
        </ul>
    </div>

	<div class="main">
		<p>
			Designed to intensify our efforts in the career development space, the Edulight 
			mentorship programme affords pupils an opportunity to tap into their powers, develop 
			themselves, and move fluidly to higher education environment. The aim is to mentor learners 
			in their respective career choices by pairing them with mentors that are affiliated in those 
			specific career fields. This is to ensure that learners are groomed well in alignment with 
			their career choices and are left fed with information they will need in future; in grasping 
			opportunities in those career fields.
		</p>

		<p>We believe with the right person by his/her side, 
			a pupil will be well equipped to achieve way more than they aimed for. They will gain 
			knowledge on how to conduct themselves as students, make informed decisions towards their 
			future, and have confidence to take decisive actions that will lead them to greatness. 
			This is made possible by our network of university/college students and graduates, who take 
			on the mentor hat and commit to mentoring our pupils until they finish high school.
		</p>

		<p>
			To sign up as a mentee, click on the "student" tap. To apply to be a mentor, 
			click on the "mentor" tap.
		</p>

		<p>
			Ours is to enable change by shaping the future of young aspiring professionals. 
			All volunteers and learners form an integral part of this mission. So go on and sign up, we need you.
		</p>

		<div class="image">
			<img  src="assets/IMG-20210803-WA0018.jpg" alt=""/>
		</div>
		

	</div>

	<div class="footer">

		<div class="ending">
		    <p>&copy; Edulight 2021</p>
        </div>
	</div>
</body>